<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

  <testsuite name="PHPUnit Tests">
    <directory suffix="Test.php">tests</directory>
  </testsuite>

  <php>
    <ini name="error_reporting" value="-1" />
    <ini name="xdebug.mode" value="coverage" />
    <env name="XDEBUG_MODE" value="coverage" />
  </php>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
    <blacklist>
      <directory suffix=".php">./vendor</directory>
    </blacklist>
  </filter>
</phpunit>
